h1 {  
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(219, 169, 135);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.lista-tareas {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: antiquewhite;
    max-width: 400px;
    padding: 10px 20px;
    margin: auto;
    min-height: 30vh; /* 30% de la altura de la ventana */

    color: rgb(219, 169, 135);
    border: rgb(177, 132, 101) 5px dashed;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
}


li {
    list-style: none;
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.424);
    display: flex;             
    justify-content: space-between; /* Espacio entre el contenido y el botón */
    align-items: center;       /* Alinea verticalmente los elementos dentro de <li> */
}
   

#app {
    width: 100vw;
    height: 100vh;
    background-image: url("https://png.pngtree.com/background/20221106/original/pngtree-green-watercolor-background-with-leaves-frame-picture-image_1949462.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* la imagen cubre toda el fondo */
    margin: 0;
    padding: 0;
}


ul {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}


.container {
    max-width: 400px;
    margin: auto;
    padding: 10px 20px;
}


.btn {
    background-color: rgb(219, 169, 135);
    color: white;
}


#app {
    width: 100vw;
    height: 100vh;
    background-image: url("https://png.pngtree.com/background/20221106/original/pngtree-green-watercolor-background-with-leaves-frame-picture-image_1949462.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    margin: 0;
    padding: 0;
}

